Repository llmariner/llmariner, pull requests merged in 2024-11, with the labels that each got.

#535 docs: fix a minor bug in deploy_seaweedfs.sh
  hack/deploy_seaweedfs.sh
Labels: documentation

#536 fix(provision): fix a typo in the port-fowarding command
  provision/dev/minio_create_apikey.sh
Labels: bug

#538 feat(chart): productionize helm chart
  .github/workflows/ci-pre-merge.yml
  Makefile
  deployments/llmariner/.helmignore
  deployments/llmariner/Chart.yaml
  deployments/llmariner/README.md
  deployments/llmariner/templates/NOTES.txt
  deployments/llmariner/templates/secrets.yaml
  deployments/llmariner/values.schema.json
  deployments/llmariner/values.yaml
  provision/common/llmariner-values.yaml
  provision/dev/README.md
  provision/dev/helmfile.yaml
Labels: enhancement

#540 chore(chart): make a tiny comment fix to values.yaml
  deployments/llmariner/values.yaml
Labels: skip-changelog

#541 fix(provision): set staticPasswords
  provision/common/llmariner-values.yaml
Labels: bug

#542 fix(provision): fix multi-cluster provision
  deployments/llmariner/templates/secrets.yaml
  provision/dev/README.md
  provision/dev/helmfile.yaml
  provision/dev/minio_create_apikey.sh
  provision/dev/minio_service.yaml
Labels: bug

#545 feat(chart): bump inference-manager-{engine,server} to 1.6.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#544 docs: add code-of-conduct, contributing and development guide
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Labels: documentation

#547 chore: remove unused headline from DEVELOPMENT.md
  DEVELOPMENT.md
Labels: skip-changelog

#548 chore(provision/dev): pass namespace using helmfile template
  provision/dev/control_plane_service.sh
  provision/dev/control_plane_service.yaml
  provision/dev/control_plane_service_linux.yaml
  provision/dev/helmfile.yaml
  provision/dev/install_control_plane_service.sh
  provision/dev/minio_create_apikey.sh
  provision/dev/minio_service.yaml
  provision/dev/uninstall_control_plane_service.sh
Labels: skip-changelog

#550 ci: do not run inference in manual-integration-test-multi-cluster
  .github/workflows/manual-integration-test-multi-cluster.yaml
Labels: skip-changelog

#549 fix(chart): do not set s3.endpointUrl in values.yaml
  deployments/llmariner/values.yaml
  provision/common/llmariner-values.yaml
Labels: skip-changelog

#551 fix(chart): update values.schema.json
  deployments/llmariner/values.schema.json
Labels: bug

#552 ci(make): fix git-clean-check to validate the preceding target results
  common.mk
Labels: skip-changelog

#553 feat(chart): bump inference-manager-{engine,server} to 1.7.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#554 feat(provision): use helmfile in aws playground setup
  provision/aws/playbook.yml
  provision/aws/scripts/install-helm.sh
  provision/aws/scripts/install-helmfile.sh
  provision/aws/scripts/install-llmariner.sh
  provision/aws/scripts/setup-minio-bucket.sh
  provision/common/minio.yaml
  provision/common/postgres.yaml
  provision/dev/common.yaml
  provision/dev/helmfile.yaml
  provision/dev/kong_values.yaml
  provision/dev/llmariner_values.yaml
  provision/dev/milvus_values.yaml
Labels: enhancement

#557 feat(cli): display the user id in the "auth status"
  cli/internal/auth/status.go
  go.mod
  go.sum
Labels: enhancement

#558 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#560 fix(chart): bump inference-manager from 1.8.0 to 1.8.1
  deployments/llmariner/Chart.yaml
Labels: bug

#562 feat(chart): support dependency conditions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#563 feat(server): support an enable flag for the usage sender
  deployments/llmariner/values.schema.json
  deployments/llmariner/values.yaml
Labels: enhancement

#564 feat(audio): sample code to run audio chat completion request
  hack/audio/README.md
  hack/audio/Sports.wav
  hack/audio/vllm_audio_client.py
Labels: enhancement

#565 fix: fix a typo in hack/llmo-demo/worker-plane/llmariner-values.yaml
  hack/llmo-demo/worker-plane/llmariner-values.yaml
Labels: bug

#566 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#568 feat(chart): bump up llmariner dependencies
  deployments/llmariner/Chart.yaml
Labels: enhancement

#572 feat(helm): add a redis for the inference rate-limit
  deployments/llmariner/templates/secrets.yaml
  deployments/llmariner/values.schema.json
  deployments/llmariner/values.yaml
  provision/dev/common.yaml
  provision/dev/helmfile.yaml
  provision/dev/llmariner_values.yaml
Labels: enhancement
