Repository llmariner/llmariner, pull requests merged in 2024-12, with the labels that each got.

#573 feat: add a prometheus scrap config for vLLM
  .github/workflows/manual-integration-test-multi-cluster.yaml
  provision/dev/README.md
  provision/dev/helmfile.yaml
Labels: enhancement

#574 feat(chart): bump up llmariner dependencies
  deployments/llmariner/Chart.yaml
Labels: enhancement

#577 fix(hack): fix psql_to_db.sh to work with the current postgres config
  hack/psql_to_db.sh
Labels: bug

#576 feat(chart): bump up llmariner dependencies
  deployments/llmariner/Chart.yaml
Labels: enhancement

#579 fix(cli): make toAge() use the d format for less than one year case
  cli/internal/time/age.go
  cli/internal/time/age_test.go
Labels: bug

#580 feat(helm): add an optional keda helmfile for inference autoscaling
  provision/dev/keda-helmfile.yaml
Labels: enhancement

#582 feat(chart): bump up llmariner dependencies
  deployments/llmariner/Chart.yaml
Labels: enhancement

#581 feat(cli): show cluster component statuses
  cli/internal/admin/clusters/clusters.go
  go.mod
  go.sum
Labels: enhancement

#584 feat(chart): bump up llmariner dependencies
  deployments/llmariner/Chart.yaml
Labels: enhancement

#587 feat: make 'auth api-keys list' show obfuscated secrets
  cli/internal/auth/apikeys/apikeys.go
Labels: enhancement

#588 docs(hack): add a note on AWS Inferentia support
  hack/inferentia.md
Labels: documentation

#589 feat(prom): update prometheus scrape configs for autoscaling
  provision/dev/helmfile.yaml
Labels: enhancement

#590 feat(cli): add "admin api-keys update"
  cli/internal/auth/apikeys/apikeys.go
  go.mod
  go.sum
Labels: enhancement

#591 feat(chart): bump up llmariner dependencies
  deployments/llmariner/Chart.yaml
Labels: enhancement

#593 docs(hack): clarify the karpenter version for inf2 support
  hack/inferentia.md
Labels: documentation

#594 docs(hack): update inferentia.md for llama3.1 8B
  hack/inferentia.md
Labels: documentation

#597 feat(cli): add "admin clusters get"
  cli/internal/admin/clusters/clusters.go
Labels: enhancement

#598 feat(cli): add 'admin {org,project} get'
  cli/internal/admin/org/org.go
  cli/internal/admin/project/project.go
  go.mod
  go.sum
Labels: enhancement

#599 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#601 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement
