Repository llmariner/llmariner, pull requests merged in 2024-10, with the labels that each got.

#526 ci: setup labeler for changelog auto generation
  .github/labeler.yml
  .github/release.yml
  .github/workflows/pr-labeler.yml
Labels: skip-changelog

#527 docs: update README
  README.md
  img/logo.png
Labels: documentation

#528 docs: fix invalid separator
  README.md
Labels: documentation

#529 docs: make a minor fix to README.md
  README.md
Labels: documentation

#530 docs: make small tweaks to README.md
  README.md
Labels: documentation

#531 docs: add an integration section to README
  README.md
Labels: documentation

#532 feat: bump inference-manager to 1.4.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#534 ci(pr-labeler): change trigger to pull_request_target
  .github/workflows/pr-labeler.yml
Labels: skip-changelog
