Repository llmariner/llmariner, pull requests merged in 2025-02, with the labels that each got.

#629 chore: improve the error message when a login user doesn't belong to any org/project
  cli/internal/context/context.go
Labels: skip-changelog

#630 feat(chart): bump user-manager-server to 1.9.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#631 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#633 feat: support service account api key creation
  cli/internal/auth/apikeys/apikeys.go
  go.mod
  go.sum
Labels: enhancement

#635 feat(chart): bump job-manager version
  deployments/llmariner/Chart.yaml
Labels: enhancement

#634 feat: support provisioning for gpu federation
  deployments/llmariner/templates/secrets.yaml
  deployments/llmariner/values.schema.json
  deployments/llmariner/values.yaml
  provision/dev/README.md
  provision/dev/create_cluster.sh
  provision/dev/helmfile.yaml
  provision/dev/kind/tenant_control_plane.yaml
  provision/dev/values/llmariner-control-plane.yaml
  provision/dev/values/tenant-control-plane.yaml
Labels: enhancement

#638 feat(chart): bump user-manager version
  deployments/llmariner/Chart.yaml
  provision/dev/llmariner_values.yaml
Labels: enhancement

#639 feat(chart): bump job-manager-syncer
  deployments/llmariner/Chart.yaml
  provision/dev/values/tenant-control-plane.yaml
Labels: enhancement

#640 fix(chart): bump user-manager patch version
  deployments/llmariner/Chart.yaml
Labels: bug

#641 fix(provision/dev): set --context to 'kubectl label'
  provision/dev/helmfile.yaml
Labels: bug

#643 docs: update the setup instruction for GPU federation
  provision/dev/README.md
Labels: documentation

#646 chore: disable unused default cluster
  provision/dev/README.md
  provision/dev/values/llmariner-control-plane.yaml
Labels: skip-changelog

#647 chore: remove the todo comment on removing the default cluster
  .github/workflows/manual-integration-test-gpu-federation.yaml
Labels: skip-changelog

#648 docs: add a gpu federation demo setup
  hack/demo/gpu-federation/README.md
  hack/demo/gpu-federation/llmarine-tenant-cluster-values.yaml
  hack/demo/gpu-federation/llmarine-worker-cluster-values.yaml
  hack/demo/gpu-federation/set_up_kind_based_env.sh
  hack/demo/gpu-federation/tear_down_kind_based_env.sh
Labels: documentation

#650 chore(hack): fix a bug in tear_down_kind_based_env.sh
  hack/demo/gpu-federation/tear_down_kind_based_env.sh
Labels: skip-changelog

#651 chore(test): fix the format of managedBy
  .github/workflows/manual-integration-test-gpu-federation.yaml
Labels: skip-changelog

#652 fix(cli): fix an error handling in getClusterByName
  cli/internal/admin/clusters/clusters.go
Labels: bug

#653 chore(hack): add a demo setup for installation with cloudnatix
  hack/demo/install/README.md
  hack/demo/install/llmariner-values.yaml
Labels: skip-changelog

#656 chore(hack/demo): add a note on aws credential
  hack/demo/install/README.md
Labels: skip-changelog

#657 chore(hack/deploy): add a quick note on just deploying llmariner
  hack/demo/install/README.md
Labels: skip-changelog

#661 fix(chart): bump inference-manager
  deployments/llmariner/Chart.yaml
Labels: bug

#662 fix: fix the usage of the hidden jobs/clusters command
  cli/internal/hidden/jobs/clusters/clusters.go
Labels: bug

#663 chore(hack/demo): add a quick note on vultr instance type
  hack/demo/install/README.md
Labels: skip-changelog

#665 feat(cli): add a hidden command for inference status
  cli/internal/hidden/hidden.go
  cli/internal/hidden/inference/inference.go
  cli/internal/hidden/inference/status/status.go
  go.mod
  go.sum
Labels: enhancement

#666 fix(chart): bump inference-manager to 1.15.2
  deployments/llmariner/Chart.yaml
Labels: bug

#667 feat(chart): bump user-manager, rbac-server, and dex
  deployments/llmariner/Chart.yaml
Labels: enhancement

#669 feat(chart): bump rbac-server and dex
  deployments/llmariner/Chart.yaml
Labels: enhancement

#671 fix(chart): bump inference-manager to 1.15.4
  deployments/llmariner/Chart.yaml
Labels: bug

#672 fix(chart): bump rbac-server and dex
  deployments/llmariner/Chart.yaml
Labels: bug

#673 chore: add a script to deploy "latest" from individual repos
  hack/latest-deploy/Chart.yaml
  hack/latest-deploy/README.md
  hack/latest-deploy/set_up_repos.sh
  provision/dev/common.yaml
  provision/dev/helmfile.yaml
  provision/dev/values/latest.yaml
Labels: skip-changelog

#674 chore: support latest deploy in the github workflow
  .github/workflows/manual-integration-test.yaml
Labels: skip-changelog

#675 feat: add inference demo settings
  hack/demo/inference/README.md
  hack/demo/inference/gpu-nodepool.yaml
  hack/demo/inference/llmariner-values.yaml
  hack/demo/inference/questions
Labels: enhancement
