Repository llmariner/llmariner, pull requests merged in 2025-01, with the labels that each got.

#604 docs(hack): add documents/scripts for Determined AI
  hack/determined-ai/README.md
  hack/determined-ai/control-plane/determined_ai_master_service.yaml
  hack/determined-ai/control-plane/determined_ai_values.yaml
  hack/determined-ai/control-plane/kind.yaml
  hack/determined-ai/control-plane/minio_service.yaml
  hack/determined-ai/control-plane/setup-minio.sh
  hack/determined-ai/control-plane/worker_plane_k8s_api_server_service.yaml
  hack/determined-ai/worker-plane/determined_ai_master_service.yaml
  hack/determined-ai/worker-plane/kind.yaml
Labels: documentation

#606 fix(helmfile): use release kube context to respect flag values
  provision/dev/helmfile.yaml
Labels: bug

#609 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#612 fix(helmfile): use env KubeContext if Release KubeContext is not set
  provision/dev/helmfile.yaml
Labels: bug

#605 docs(hack): add gateway integration to determined-ai
  hack/determined-ai/README.md
  hack/determined-ai/control-plane/gateway_service.yaml
  hack/determined-ai/worker-plane/deploy_kong_as_gateway.sh
  hack/determined-ai/worker-plane/gateway.yaml
  hack/determined-ai/worker-plane/kind.yaml
  hack/determined-ai/worker-plane/kong-gateway-proxy-service.yaml
  hack/determined-ai/worker-plane/kong_values.yaml
Labels: documentation

#615 chore(hack/slurm): add a job submission example
  hack/slurm/README.md
Labels: skip-changelog

#617 feat(chart): bump model-manager versions
  deployments/llmariner/Chart.yaml
Labels: enhancement

#620 feat(chart): add syncer to the dependencies
  deployments/llmariner/Chart.yaml
  deployments/llmariner/values.schema.json
  deployments/llmariner/values.yaml
Labels: enhancement

#621 chore(hack/slurm): fix the example job submission json
  hack/slurm/README.md
Labels: skip-changelog

#623 feat(chart): bump versions
  deployments/llmariner/Chart.yaml
Labels: enhancement
