Repository llmariner/llmariner, pull requests merged in 2025-03, with the labels that each got.

#687 feat(charts): bump file-manager-server to 1.3.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#688 fix: set deployLatest to false by default
  provision/dev/common.yaml
Labels: bug

#691 feat(charts): bump file-manager-server to 1.4.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#689 feat(cli): add 'storage files create-link'
  cli/internal/storage/files/files.go
  go.mod
  go.sum
Labels: enhancement

#692 feat(cli): support pagination in 'files list'
  cli/internal/storage/files/files.go
  go.mod
  go.sum
Labels: enhancement

#693 feat(charts): bump file-manager-server to 1.5.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#695 chore(hack): simplify the values.yaml for cloudnatix installation
  hack/demo/install/llmariner-values.yaml
Labels: skip-changelog

#697 fix(charts): bump file-manager-server
  deployments/llmariner/Chart.yaml
Labels: bug

#699 fix(charts): bump charts
  deployments/llmariner/Chart.yaml
Labels: bug

#700 fix: bump github.com/cli/go-gh
  cli/internal/ui/prompt.go
  go.mod
  go.sum
Labels: bug

#701 feat(cli): login with okta directly
  cli/internal/accesstoken/accesstoken.go
  cli/internal/accesstoken/token_exchanger.go
  cli/internal/accesstoken/token_exchanger_okta.go
  cli/internal/auth/login.go
  cli/internal/auth/login_okta.go
  cli/internal/configs/configs.go
Labels: enhancement

#702 chore(cli): use '%s' for error printing
  cli/internal/auth/login.go
Labels: skip-changelog

#703 chore: return an error if LLMA_CLIENT_SECRET is not set
  cli/internal/configs/configs.go
Labels: skip-changelog

#704 feat(cli): use okta if the endpoint URL is cloudnatix.com
  cli/internal/configs/configs.go
Labels: enhancement

#705 fix(cli): update okta config
  cli/internal/configs/configs.go
Labels: bug

#706 fix(cli): fix nil-pointer-dereference in login_okta.go
  cli/internal/auth/login_okta.go
Labels: bug

#707 feat(chart): bump rbac-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#709 fix: do not show an error message on 'closed network connection'
  cli/internal/auth/login_okta.go
Labels: bug

#711 chore(tutorial): fix the RAG example
  tutorials/getting_started.ipynb
  tutorials/getting_started.md
Labels: skip-changelog

#712 feat(chart): bump rbac-manager and user-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#716 feat(charts): bump model-manager and inference-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#719 feat(charts): bump session-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#721 fix(charts): bump session-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#723 chore(hack/demo): make a minor fix to the gpu federation script
  hack/demo/gpu-federation/set_up_kind_based_env.sh
Labels: skip-changelog

#724 feat(charts): bump charts
  deployments/llmariner/Chart.yaml
Labels: enhancement

#726 chore(hack/demo): fine-tuning demo
  hack/demo/fine-tuning/README.md
  hack/demo/fine-tuning/llmariner-values.yaml
  hack/demo/fine-tuning/set_up_training_data.py
  hack/demo/fine-tuning/submit_fine_tuning_job.py
  hack/demo/fine-tuning/validate_training_data_format.py
Labels: skip-changelog

#727 fix: make saveToken get values directly from token fields
  cli/internal/accesstoken/accesstoken.go
Labels: bug

#731 feat(cli): change 'file create-link' to take an S3 bucket name
  cli/internal/storage/files/files.go
Labels: enhancement

#730 feat(cli): show the CloudNatix URL as one of the default options
  cli/internal/configs/configs.go
Labels: enhancement

#732 feat: show an object file path
  cli/internal/storage/files/files.go
  go.mod
  go.sum
  hack/demo/fine-tuning/README.md
Labels: enhancement

#733 feat(charts): bump charts
  deployments/llmariner/Chart.yaml
Labels: enhancement

#729 fix(provision): fix how we disable the default cluster registration
  provision/dev/values/llmariner-control-plane.yaml
Labels: bug

#735 chore(cli): show 'Unknown' when file size is unknown
  cli/internal/storage/files/files.go
Labels: skip-changelog

#736 fix(charts): bump job-manager to 1.13.1
  deployments/llmariner/Chart.yaml
Labels: bug

#739 chore(deps): bump up golang.org/x/net to 0.37.0
  go.mod
  go.sum
Labels: skip-changelog

#743 chore(hack): remove old README.md
  hack/README.md
Labels: skip-changelog

#744 fix: fix manual-integration-test.yaml
  .github/workflows/manual-integration-test.yaml
Labels: bug

#745 fix(cli): fix the flag description of --role
  cli/internal/admin/project/project.go
Labels: bug

#746 feat(charts): bump charts
  deployments/llmariner/Chart.yaml
Labels: enhancement

#747 chore: update the fake-job container image to latest
  provision/dev/helmfile.yaml
Labels: skip-changelog

#753 feat(charts): bump model manager to 1.10.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#751 feat(cli): add 'models create'
  cli/internal/models/models.go
  go.mod
  go.sum
Labels: enhancement

#754 fix: fix a test script path in the github workflow
  .github/workflows/manual-integration-test.yaml
Labels: bug

#756 feat(charts): bump inference-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#760 feat(provision): support HuggingFace API key creation
  deployments/llmariner/templates/secrets.yaml
  deployments/llmariner/values.schema.json
  deployments/llmariner/values.yaml
  provision/dev/common.yaml
  provision/dev/helmfile.yaml
Labels: enhancement

#766 chore: remove 'beta' from the vector_stores use in the tutorial
  tutorials/getting_started.ipynb
  tutorials/getting_started.md
Labels: skip-changelog

#768 chore(tutorial): add a disclaimer on RAG quality
  tutorials/getting_started.ipynb
  tutorials/getting_started.md
Labels: skip-changelog

#770 feat: bump inference-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#772 feat(chart): bump job-manager and model-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#774 feat(chart): bump job-manager-dispatcher to 1.14.0
  deployments/llmariner/Chart.yaml
Labels: enhancement

#775 feat(charts): bump model-manager to 1.10.4
  deployments/llmariner/Chart.yaml
Labels: enhancement

#777 feat(charts): bump job-manager and inference-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement
