Repository llmariner/llmariner, pull requests merged in 2025-06, with the labels that each got.

#829 chore: remove hack/update_chart.py
  hack/update_chart.py
Labels: skip-changelog

#833 feat(cli): allow create notebook with image-uri
  cli/internal/workspaces/notebooks/notebooks.go
Labels: enhancement

#834 chore: make cosmetic changes to notebook create()
  cli/internal/workspaces/notebooks/notebooks.go
Labels: skip-changelog

#835 feat(charts): bump cluster-manager
  deployments/llmariner/Chart.yaml
Labels: enhancement

#837 feat(charts): bump cluster-monitor
  deployments/llmariner/Chart.yaml
Labels: enhancement

#843 fix(charts): bump cluster-monitor
  deployments/llmariner/Chart.yaml
Labels: bug

#845 fix(charts): bump cluster-monitor
  deployments/llmariner/Chart.yaml
Labels: bug

#847 fix(charts): bump cluster-monitor
  deployments/llmariner/Chart.yaml
Labels: bug
